<!DOCTYPE html>
<html lang="pl" layout:decorator="layouts/main">
<body>
		
	<div layout:fragment="content">
		<section class="content">
		
		<div class="col col-md-6">
			<div class="box box-primary">
	            <div class="box-header with-border">
	              <h3 class="box-title">Ostatnie aktualności</h3>
	            </div>
	            <!-- /.box-header -->
              <div class="box-body">
	              	<p>test</p>
                </div>
			</div>
		</div>
		
		</section>
	</div>
		
</body>
</html>